<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detalle de Planilla</title>
    <link rel="stylesheet" href="@{/css/bootstrap.min.css}">
</head>

<body class="bg-light">

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-primary">Detalles de Planilla: <span th:text="${planilla.periodo}"></span> </h2>
            <!-- Botón para agregar nuevo detalle, pasando el id de la planilla -->
            <a th:href="@{/detallePlanilla/nuevo}" class="btn btn-success">
                + Nuevo Detalle
            </a>
        </div>

        <h5 class="text-secondary mb-4">
            Planilla ID: <span th:text="${idPlanilla}"></span> |
            Fecha: <span th:text="${#temporals.format(fechaGenerada, 'dd/MM/yyyy')}"></span>
        </h5>

        <table class="table table-bordered table-hover table-striped align-middle shadow-sm bg-white">
            <thead class="table-primary text-center">
                <tr>
                    <th>ID</th>
                    <th>EMPLEADO</th>
                    <th>PLANILLA</th>
                    <th>SUELDO BASE</th>
                    <th>HORAS EXTRAS</th>
                    <th>BONOS</th>
                    <th>DESCUENTOS</th>
                    <th>TOTAL</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody th:if="${detalles != null and !#lists.isEmpty(detalles)}">
                <tr th:each="detalle : ${detalles}" class="text-center">
                    <td th:text="${detalle.idDetalle}"></td>
                    <td th:text="${detalle.empleado.nombre}"></td>
                    <td th:text="${detalle.planilla.periodo}"></td>
                    <td th:text="${detalle.sueldoBruto}"></td>
                    <td th:text="${detalle.horasExtras}"></td>
                    <td th:text="${detalles.totalBonos}"></td>  
                    <td th:text="${detalle.totalDescuentos}"></td> 
                    <td th:text="${detalle.totalPagar}" ></td>               
                    <td>
                        <a th:href="@{'/detallesPlanilla/editar/' + ${.detalle.idDetalle}}"
                            class="btn btn-warning btn-sm me-1">Editar</a>
                        <a th:href="@{'/detallesPlanilla/eliminar/' + ${detalle.idDetalle}}"
                            class="btn btn-danger btn-sm"
                            onclick="return confirm('¿Estás seguro de eliminar este detalle?')">Eliminar</a>
                    </td>
                </tr>
            </tbody>
            <tbody th:if="${#lists.isEmpty(detalles)}">
                <tr>
                    <td colspan="8" class="text-center text-muted">No hay detalles registrados.</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>