<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>Bienvenida</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <h1>Bienvenido al Sistema de Gestión de Planillas de TextiLima</h1>
            <p>Este sistema te permitirá gestionar empleados, puestos, planillas y mucho más.</p>
            <p>Utiliza el menú lateral para navegar por las diferentes secciones.</p>
            <div>
                <img src="logoTextilima.png" alt="logoTextilima" class="img-fluid" style="max-width: 100%; height: auto;">
            </div>
           
        </div>
    </div>
</body>
</html>
